<TITLE> Fill (leaf) </TITLE>
<H1> Fill (leaf) </H1> 
    
<P>
 This is used for spacing other objects. Fill uses
the background color, and it is essentially a shorthand for 
<TT>(Glue 0 + Inf)</TT>.

<DL>

<DT><B>Shape</B><DD> Both dimensions have zero preferred and minimum size and are
infinitely stretchable.  Thus, the non-principal direction takes on
the same shape as its parent.
  
<DT><B>Notes</B><DD> Must be a child of a horizontal
or vertical split (<TT>HBox</TT>, <TT>HVTile</TT>, <TT>VBox</TT>, or
<TT>VTile</TT>).

<DT><B>See Also</B><DD> Glue
    
</DL>

