<TITLE> Insert (leaf) </TITLE>
<H1> Insert (leaf) </H1> 
    
<P>
 Insert is not a component at all. It is a syntactic form for specifying
    the name of another resource whose contents are to be included at
    this point in the S-expression. (It is the only such form in the
    language.)

<HR><DL>

<DT>Main<DD> (Text)<BR> The text argument is the name of a resource
	containing one or more S-expressions.

</DL><HR>

<DL>

<DT><B>Behavior</B><DD> Insert is convenient for breaking a large FormsVBT
	description into several files. Typically, such files contain
	ZChild, ZChassis, and Macro forms.

</DL>

