<TITLE> PopButton (filter, event) </TITLE>
<H1> PopButton (filter, event) </H1> 
    
<P>
 A button that pops up an overlapping subwindow when clicked.  
Its target must be specified with the For property. 

<HR><DL>

<DT>For<DD> (Symbol) <BR> If given, this names the target. The named component
must be either an overlapping (non-background) child of a <TT>ZSplit</TT>,
or a descendant of something that is. In the latter case, the actual
target will be the <TT>ZSplit</TT> child, not the named descendant.
      
</DL><HR>

<DL>

<DT><B>Behavior</B><DD> Like a Button, but before generating an event, it pops up 
its target (or brings the target to the top of it sibling, overlapping 
windows, if it is already visible).
    
<DT><B>Shape</B><DD> The natural shape of its child (i.e., with no shrink
or stretch), plus the border around the button.

<DT><B>See Also</B><DD> PopMButton

</DL>

