<TITLE> PopMButton (filter, event) </TITLE>
<H1> PopMButton (filter, event) </H1> 
    
<P>
 This is the ``menu-style'' equivalent of PopButton.

<HR><DL>

<DT>For<DD> (Symbol) <BR> If given, this names the target. The named component
must be either an overlapping (non-background) child of a <TT>ZSplit</TT>,
or a descendant of something that is. In the latter case, the actual
target will be the <TT>ZSplit</TT> child, not the named descendant.
      
</DL><HR>

<DL>

<DT><B>Behavior</B><DD> Like an MButton, but before generating an event, it pops up 
its target (or brings the target to the top of it sibling, overlapping 
windows, if it is already visible).
    
<DT><B>See Also</B><DD> PopButton

</DL>

