<TITLE> Ridge (leaf) </TITLE>
<H1> Ridge (leaf) </H1> 
    
<P>
 Displays a ridged, three-dimensional divider bar with the specified
size in the principal direction (horizontal or vertical) of its parent.
    
<HR><DL>

<DT>Main<DD> (Real, <TT>1.5</TT>) <BR>
      The size in the principal direction.

</DL><HR>

<DL>

<DT><B>Shape</B><DD> The principal direction is explicitly
specified; the other direction has zero preferred and minimum
size and is infinitely stretchable, thereby taking on the
parent's shape.

<DT><B>Notes</B><DD> Must be a child of a horizontal
or vertical split (<TT>HBox</TT>, <TT>HVTile</TT>, <TT>VBox</TT>, or
<TT>VTile</TT>).

<DT><B>See Also</B><DD> Bar and Chisel

</DL>

