<TITLE> Rim (filter) </TITLE>
<H1> Rim (filter) </H1> 
    
<P>
 Displays a rim around its child.  A rim is like a border,
but uses the background color rather than the foreground color.
    
<HR><DL>

<DT>Pen<DD> (Real, <TT>1.0</TT>) <BR>  The thickness of the rim.
      
<DT>Texture<DD> (Text) <BR> The name of a pixmap-resource used for the
    border's texture, which defaults to <TT>Pixmap.Solid</TT>.
    
</DL><HR>

<DL>

<DT><B>Shape</B><DD> The shape of its child, plus twice the value of Pen in each 
dimension.

<DT><B>See Also</B><DD> Border and Frame

</DL>

