<TITLE> Texture (leaf) </TITLE>
<H1> Texture (leaf) </H1> 

<P>
 Displays a rectangle in some texture.

<HR><DL>

<DT>Main<DD> (Texture) <BR> The name of a pixmap-resource used for the
	texture. The default is to use <TT>Pixmap.Solid</TT> for the
	texture.

<DT>LocalAlign<DD> (Boolean, <TT>FALSE</TT>) <BR> If true, the texture is aligned 
    to the northwest corner of the underlying VBT. Otherwise, it's 
    aligned with the coordinate origin. Note that all other interactors 
    that use textures are necessarily aligned with the coordinate 
    origin. 

</DL><HR>

<DL>

<DT><B>Shape</B><DD> Zero size and infinitely stretchable in both dimensions.

<DT><B>See Also</B><DD> Pixmap

</DL>

