<TITLE> VTile (split) </TITLE>
<H1> VTile (split) </H1> 
    
<P>
 Organizes its children vertically, in order from top to 
bottom, with an adjusting bar between each child. The adjusting bar 
allows the user to move the boundary between the children, subject 
to the size range allowed by each child.

<DL>

<DT><B>Shape</B><DD> The height is the sum of its children's heights; the width 
is the maximum of the children's widths, but is stretchable only 
if all of them are.

<DT><B>See Also</B><DD> HTile

</DL>

