% Copyright (C) 1993 Digital Equipment Corporation
% All rights reserved.
% See the file COPYRIGHT for a full description.
%
% Last modified on Mon Sep 20 12:26:41 PDT 1993 by kalsow 

%
%  Quake functions to instantiate a generic table.
%

readonly proc Table (nm, key, value) is
  local tab = nm & "Tbl"
  local tabrep = nm & "TblRep"
  build_generic_intf (tab, "Table", ["Root", key, value], VISIBLE)
  build_generic_intf (tabrep, "TableRep", [key, value], VISIBLE)
  build_generic_impl (tab, "Table", [key, value, tabrep])
end

readonly proc table (nm, key, value) is
  local tab = nm & "Tbl"
  local tabrep = nm & "TblRep"
  build_generic_intf (tab, "Table", ["Root", key, value], HIDDEN)
  build_generic_intf (tabrep, "TableRep", [key, value], HIDDEN)
  build_generic_impl (tab, "Table", [key, value, tabrep])
end

readonly proc TransientTable (nm, key, value) is
  local tab = nm & "Tbl"
  local tabrep = nm & "TblRep"
  build_generic_intf (tab, "Table", ["RootTransient", key, value], VISIBLE)
  build_generic_intf (tabrep, "TableTransientRep", [key, value], VISIBLE)
  build_generic_impl (tab, "Table", [key, value, tabrep])
end

readonly proc transientTable (nm, key, value) is
  local tab = nm & "Tbl"
  local tabrep = nm & "TblRep"
  build_generic_intf (tab, "Table", ["RootTransient", key, value], HIDDEN)
  build_generic_intf (tabrep, "TableTransientRep", [key, value], HIDDEN)
  build_generic_impl (tab, "Table", [key, value, tabrep])
end
