%--- m3build template for coco

readonly proc coco(atg) is
  local inf = atg & ".atg"
  local scan = atg & "S"
  local parse = atg & "P"

  derived_interface(atg, HIDDEN)

  derived_implementation(scan)
  derived_implementation(parse)

  if defined("_all")
    if stale(scan & ".i3", inf)
      checkExec([BIN_USE & SL & "m3coco", path_of(inf)],[],".")
    end
  end
end

readonly proc coco_c(atg) is
  local inf = atg & ".atg"
  local scan = atg & "S"
  local parse = atg & "P"

  derived_interface(atg, HIDDEN)

  derived_implementation(scan)
  derived_implementation(parse)
  derived_implementation(atg)

  if defined("_all")
    if stale(scan & ".i3", inf)
      checkExec([BIN_USE & SL & "m3coco", "-c", path_of(inf)],[],".")
    end
  end
end
