<TITLE> Frame (filter) </TITLE>
<H1> Frame (filter) </H1> 
    
<P>
 Displays a three-dimensional border around its child.
    
    
<HR><DL>

<DT><DD> <I>Shadow-style choices (mutually exclusive):</I>

<DT>Raised <TT>GP</TT><DD> (Boolean, <TT>TRUE</TT>)

<DT>Flat <TT>GP</TT><DD> (Boolean, <TT>FALSE</TT>)

<DT>Lowered <TT>GP</TT><DD> (Boolean, <TT>FALSE</TT>)

<DT>Ridged <TT>GP</TT><DD> (Boolean, <TT>FALSE</TT>)

<DT>Chiseled <TT>GP</TT><DD> (Boolean, <TT>FALSE</TT>)

</DL><HR>

<DL>

<DT><B>Shape</B><DD> The shape of its child, plus twice the value of ShadowSize 
in each dimension.

<DT><B>See Also</B><DD> Border and Rim

</DL>

