<TITLE> HBox (split) </TITLE>
<H1> HBox (split) </H1> 
    
<P>
 Organizes its children horizontally, in order from left to 
right. If it is wider than the sum of its children's widths, the 
excess is distributed equally among all stretchable children, as 
far as they will stretch.  If all stretchability is exceeded, the 
excess will be given to the last child.  If it is narrower than the 
sum of its children's widths, it clips on the right, perhaps making 
some children entirely invisible.  All children have height equal 
to the height of the HBox.  Section <A REL=REF HREF="../language.html#sec:language-sizing"> [sec:language-sizing] </A> explains 
the layout model in detail.

<DL>

<DT><B>Shape</B><DD> The width is the sum of its children's widths; the height 
is the maximum of the children's heights, but is stretchable only 
if all of them are.

<DT><B>See Also</B><DD> VBox

</DL>


