<TITLE> MButton (filter, event) </TITLE>
<H1> MButton (filter, event) </H1> 
    
<P>
 A ``menu button'' is usually a member of a Menu.  It can be used 
anywhere, but its behavior will seem weird in almost any other context.

<DL>

<DT><B>Behavior</B><DD> Its child is surrounded by a flat shadow that is recessed 
whenever the mouse rolls into it.  Restores the flat shadow on up-click 
or chord-abort, and generates an event if the mouse is still within 
the button on the up-click.

<DT><B>Shape</B><DD> The natural shape of its child (i.e., with no shrink
or stretch), plus the border around the button.

<DT><B>See Also</B><DD> Button

</DL>

