<TITLE> ZSplit (split) </TITLE>
<H1> ZSplit (split) </H1> 
    
<P>
 Organizes its children as overlapping subwindows.  The
first child is special: it is the background, and it underlies
all overlapping windows and defines the shape of the ZSplit
itself.  The background child should be enclosed in a ZBackground
form.  It's recommended that non-background children of ZSplit
be either ZChild or ZChassis, since those interactors support
position control, non-interfering highlighting, and so on.
    
<DL>

<DT><B>Shape</B><DD> The shape of its background child.

<DT><B>See Also</B><DD> CloseButton, ZChassis, ZChild, ZMove, and ZGrow

</DL>

