% Copyright (C) 1993, Digital Equipment Corporation
% All rights reserved.
% See the file COPYRIGHT for a full description.
%
% Last modified on Fri Feb 10 08:28:26 PST 1995 by kalsow  
%      modified on Thu Mar  3 15:41:57 PST 1994 by wobber  
%      modified on Fri Aug 13 10:01:08 PDT 1993 by harrison
%      modified on Wed May 19 12:35:20 PDT 1993 by mjordan

if defined ("STUBGEN")
  % take the version specified by the user
  _NETOBJ_STUBGEN = STUBGEN
else
  _NETOBJ_STUBGEN = format ("%s%s%s", BIN_USE, SL, "stubgen")  %% - full path
  %% _NETOBJ_STUBGEN = "stubgen"
end

readonly proc _v_netobjv1(intf, type, v, useintf) is
  local base_name = format ("%s_%s_v1", intf, type)
  local intf_pn = path_of(intf & ".i3")

% The generated sources are in the build directory of THIS_PACKAGE
% 

  derived_interface (base_name, v)
  derived_implementation (base_name)

  if stale(base_name & ".i3", intf_pn)
    generate_tfile()
    local cmd = [ _NETOBJ_STUBGEN, "-sno", intf & "." & type]

    if useintf
      cmd += "-i"
      cmd += useintf
    end

    cmd += M3SEARCH_TABLES

    write(cmd, CR)
    local ret = exec(cmd)
    if not equal(ret, 0) error("command failed with error code: ", ret) end
  end
    
end

readonly proc netobjv1(intf, type) is
  _v_netobjv1(intf, type, HIDDEN, "")
end

readonly proc Netobjv1(intf, type) is
  _v_netobjv1(intf, type, VISIBLE, "")
end

readonly proc Netobj(intf, type) is
  Netobjv1(intf, type)
end

readonly proc netobj(intf, type) is
  netobjv1(intf, type)
end

readonly proc netobjrv1(intf, type, useintf) is
  _v_netobjv1(intf, type, HIDDEN, useintf)
end

readonly proc Netobjrv1(intf, type, useintf) is
  _v_netobjv1(intf, type, VISIBLE, useintf)
end

readonly proc Netobjr(intf, type, useintf) is
  Netobjrv1(intf, type, useintf)
end

readonly proc netobjr(intf, type, useintf) is
  netobjrv1(intf, type, useintf)
end
